---
layout: swiftui
title: SwiftUI 快速入门教程
thumbnail_image: '/files/notjQuery/notjQuery.png'
---

<div> 
    <h3>1. SwiftUI 简介</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-introduction reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>


<div> 
    <h3>2. 文本与图片</h3>
    <ul class="postList">
        {% for post in site.categories.swiftui-text-images reversed %}
        <li>
            <span>{{ post.date | date: "%Y-%m-%d" }}</span>
            <div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
        </li>
        {% endfor %}
    </ul>        
</div>
