<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/post.css?v=12211"/>
    </head>
    <body>
        <header>
            <div class="navWrap">
                <span class="logo">
                    <a href="/">Saka.io</a>
                </span>
                <nav>
                    <ul>
                        <li>
                            <a href="/notes.html">全部文章</a>
                        </li>
                        <li>
                            <a href="/about.html">关于我</a>
                        </li>
                        <li>
                            <a href="/hackernews" target="_blank">Hacker News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
