body {
    background: #faf6ed;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

header {
    text-align: left;
    background-color: #584b4f;
    color: #faf6ec;
    font-size: 14px;
    height: 43px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.navWrap {
    max-width: 900px;
    margin: 0px auto;
}

.logo {
    font-size: 16px;
    margin: 9px 0px 0px 0px;
    display: block;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    margin-top: 7px;
    color: #efeae1;
}

.content {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 40px 50px;
    position: relative;
    border-color: #efeae1 #ece7de #eae5db;
    margin: 30px auto;
    max-width: 800px;
    color: #555;
    margin-top: 75px;
}

.content h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.content p {
    margin-bottom: 20px;
}

.content p img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
}

a {
    color: #40a977;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    ;
}

blockquote {
    border-left: 2px solid #dedede;
    padding-left: 20px;
    color: #888;
}

@media screen and (max-width: 800px) {
    .content {
        margin: 0px;
        border-radius: 0px;
        border: none;
        padding: 20px;
        border-bottom: 1px solid #d0d1d5;
    }
}
