{% include header.html %}
<link type="text/css" rel="stylesheet" href="/stylesheets/swiftui.css"/>
<div class="swiftUI">
    <div class="title">
        <h1>SwiftUI 快速入门</h1>
    </div>
    <div class="textContent">
      <article>
        <p>在 WWCD2019 的时候，Apple 发布了 SwiftUI，此举一方面让 Apple 任何平台的 App 开发变得更加有规范可循，以及可以用更少的代码来实现更多的功能。 <a href="javascript:void(0)" onclick="moreOrLess()" class="moreLink">详情</a>
        </p>
        <div class="more">
            
        <a href="javascript:void(0)" onclick="moreOrLess()" class="lessLink">收起</a>
        </div>
      </article>
        {{ content }}
    </div>
</div>
<script>
    function moreOrLess() {
        document.querySelector('.textContent').classList.toggle('moreContent');
        return false;
    }
</script>
{% include footer.html %}
